<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <h2>Reset Password</h2>
    <form id="resetPasswordForm">
      <input type="hidden" name="requestId" value="{{requestId}}" />
      <label for="newPassword">New Password:</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        required
      /><br />
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      /><br />
      <input type="submit" value="Submit" />
    </form>
    <script src="/public/js/resetPasswordForm.js"></script>
  </body>
</html>
