<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form id="loginForm">
      <h1>Login</h1>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required /><br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />
      <input type="submit" value="Login" />
    </form>
    <form id="forgorPasswordForm" style="display: none">
      <h1>Forgot password</h1>
      <label for="forgotPasswordEmail">Email</label>
      <input
        type="email"
        name="forgotPasswordEmail"
        id="forgotPasswordEmail"
        required
      />
      <input type="submit" value="Submit" />
    </form>
    <div id="signup">
      <p>Don't have an account? <a href="/signup">Signup to continue</a></p>
    </div>
    <button onclick="handleForgotPassword()" id="forgotPasswordBtn">
      Forgot password
    </button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/js/signin.js"></script>
  </body>
</html>
